apiVersion: v1
kind: Secret
metadata:
  name: gangway
  namespace: tanzu-system-auth
type: Opaque
data:
  # openssl rand -base64 32 | pbcopy
  sesssionKey: zzzzz
  # clientSecret=$(openssl rand -base64 32)
  # echo -n "$clientSecret" | base64
  clientSecret: zzzz

