apiVersion: v1
kind: Secret
metadata:
  name: oidc
  namespace: tanzu-system-auth
type: Opaque
data:
  # echo -n "sdffdssdfdsf" | base64
  clientId: <CLIENT_ID>
  # echo -n "dfds" | base64
  clientSecret: <CLIENT_SECRET>